Package: gdata-objectivec-client
Priority: optional
Section: Development
Maintainer: Ryan Petrich <rpetrich@gmail.com>
Architecture: iphoneos-arm
Version: 521
Depends: libxml2
Description: GData client library (Objective-C)
Name: Google Data APIs
